@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
    color: #000000;
}

/* Custom shadow utilities */
.shadow-brutal {
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

.shadow-brutal-lg {
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
}